---
const links = [
  { name: 'github', url: 'https://github.com/vinishamanek' },
  { name: 'linkedin', url: 'https://linkedin.com/in/vinishamanek' },
  { name: 'email', url: 'mailto:vinimanek@gmail.com' },
];
---

<div class="about-content">
  <p>
    hi! i'm vini, a 4th year software engineering student at concordia university in montreal.
  </p>
  <p>
    i'm currently the co-president of <a href="https://www.womeninengineeringconcordia.com/" target="_blank" rel="noopener noreferrer">women in engineering</a>, and work as a teaching assistant for Software Requirements and Deployment (<a href="https://www.concordia.ca/academics/undergraduate/calendar/current/section-71-gina-cody-school-of-engineering-and-computer-science/section-71-70-department-of-computer-science-and-software-engineering/section-71-70-10-computer-science-and-software-engineering-courses.html#:~:text=SOEN%20342,-Software%20Requirements%20and" target="_blank" rel="noopener noreferrer">SOEN 342</a>) and Formal Methods in Software Engineering (<a href="https://www.concordia.ca/academics/undergraduate/calendar/current/section-71-gina-cody-school-of-engineering-and-computer-science/section-71-70-department-of-computer-science-and-software-engineering/section-71-70-10-computer-science-and-software-engineering-courses.html#:~:text=SOEN%20331,-Formal%20Methods%20for" target="_blank" rel="noopener noreferrer">SOEN 331</a>).
  </p>
  <p>
    aside from studies:
    i love music, biking, coffee, sudokus, the NYT mini games, basketball, sewing, reading, travelling, architecture, and problem-solving (among others)!
  </p>
  
  <div class="links-section">
    <ul class="links-list">
      {links.map(link => (
        <li>
          <a href={link.url} target="_blank" rel="noopener noreferrer">
            {link.name}
          </a>
        </li>
      ))}
    </ul>
  </div>
</div>

<style>
  .about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }

  .links-section {
    margin-top: 2.5rem;
  }

  .links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  li {
    margin: 0;
  }

  .links-list a {
    font-size: 1.5rem;
    color: #88c8ff;
    transition: color 0.3s ease;
  }

  .about-content p a {
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
    transition: none;
  }


  @media (max-width: 768px) {
    .links-list {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>